*.log
linux-3.4/arch/arm/configs/sun8iw7p1smp_lobo_defconfig
linux-3.4/arch/arm/mach-sunxi/power/brom/resumes.elf
linux-3.4/arch/arm/mach-sunxi/power/brom/resumes.lst
linux-3.4/arch/arm/mach-sunxi/power/brom/resumes.map
linux-3.4/drivers/net/ethernet/sunxi/eth/Kconfig
linux-3.4/drivers/net/ethernet/sunxi/eth/sunxi_geth.c
linux-3.4/modules/mali/DX910-SW-99002-r4p0-00rel0_modify/driver/src/devicedrv/mali/.tmp_versions/mali.mod
linux-3.4/modules/mali/DX910-SW-99002-r4p0-00rel0_modify/driver/src/devicedrv/mali/Module.symvers
linux-3.4/modules/mali/DX910-SW-99002-r4p0-00rel0_modify/driver/src/devicedrv/ump/.tmp_versions/ump.mod
linux-3.4/modules/mali/DX910-SW-99002-r4p0-00rel0_modify/driver/src/devicedrv/ump/Module.symvers
linux-3.4/modules/mali/DX910-SW-99002-r4p0-00rel0_modify/driver/src/egl/x11/drm_module/mali_drm/.tmp_versions/mali_drm.mod
build/lib.opi2/
build/rootfs-lobo.img.gz
build/sun8iw7p1smp_lobo_defconfig.old
build/uImage_OPI-2
linux-3.4/firmware/ap6210/bcm20710a1.hcd
linux-3.4/firmware/ap6210/nvram_ap6210.txt